@import url("imagem.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}
main {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
  background-color: white;
}

footer {
  height: 40px;
  border-top: 3px solid #aaa;
  background-color: #ddd;
}

h1 {
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
}

blockquote {
  border-left: 2px solid black;
  padding-left: 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.author {
  text-align: center;
  margin-top: 0;
}

#particles-js {
  width: 100%;
  height: 400px;
  border: 2px solid black;
}

table {
  width: 100%;
  margin-bottom: 60px;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

th,
td {
  padding: 0.5rem;
}

td:nth-of-type(1) {
  text-align: center;
}

td:nth-of-type(2),
td:nth-of-type(3) {
  text-align: right;
}

.logo-opensanca {
  display: block;
  text-align: center;
}

@media (min-width: 576px) {
  main {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
}
